---
---
<div class="centered-section">

	{% include quick_links.html %}

	<div class="olive-pattern-bg">
		<h2>Current Campaigns</h2>
	</div>

	<h3>Support Musicians Affected by ICE</h3>
	<p>
		Many musicians and DJs in New Orleans have had to cancel their shows and events for fear that they or their audiences could be abducted by ICE.
		Nola Musicians for Palestine has launched a fundraiser for fellow performers who have lost income from canceled gigs the past month and who are likely to remain out of work until ICE leaves New Orleans. Here’s how you can participate:
	</p>

	<ul>
		<li><a style="font-size: 2em; font-weight: bold;"href="https://gofund.me/4b8049d28">Donate here</a>. We are asking all bands in the Solidarity Network to inform our audiences and direct them to contribute. Additionally, and if you are able, you are invited to donate part of the band's earnings to this fund in solidarity.</li>
		<li>Sirocco Brass Band and Wit’s End are having a fundraiser show at Vaughn’s on January 9th. Part of the funds from that night will be put towards supporting our fellow musicians. We ask bands to promote that show.</li>
	</ul>

	<p>
		We envision this campaign as a sustained effort until these valued members of our music community can get back to work playing music.
		One goal of the Solidarity Network has always been to help this community broadcast our shared values as a part of our daily lives as performers and musicians, to use our collective voice to focus ourselves and our audiences’ attention on some of this moment’s biggest problems.
		It’s not a coincidence that both ICE and the IDF isolate people from their communities, make them hide in their homes, abduct people from their workplaces, separate families, and brutalize people they deem as less human.
		Both are necessary agents for the continuation of US Imperialism and exploitation of global trade and resources.
		Recognizing and resisting imperialism and exploitation in all its forms, and doing so in an allied community is the most effective way to affect change.
	</p>


	<div class="olive-pattern-bg">
		<h2>Solidarity Network Calendar</h2>
	</div>

	<p>
		Here you'll find shows of bands that are part of the Solidarity Network
		as well as events from organizations in the New Orleans Coalition for Palestine.
		Bands in the network direct their audiences to this page with a QR-Code.
		In this way we're supporting each other and helping keep our audiences
		informed about how they can be supportive to the movement for Palestinian
		Liberation.
	</p>

	<p>To submit an event to the Solidarity Network Calendar, fill out <a href="{{site.data.quick_links.solidarity_network_event_submission_form.link}}" target="_blank">this form</a></p>
	<p>To sign up to be a part of the Solidarity Network, fill out <a href="{{site.data.quick_links.solidarity_network_signup_form.link}}" target="_blank">this form</a></p>

</div>
<div id="calendar" class="net-pattern-bg">
{% for event in site.events %}
	<div id="event-{{ forloop.index0 }}" class="event" data-date="{{ event.date | date: '%Y%m%d' }}">
		{% if event.flyer %}
			<img class="flyer"src="assets/images/event_flyers/{{ event.flyer }}">
		{% else %}
			<img class="flyer"src="assets/images/event_flyers/flag-blank-flyer.png">
		{% endif %}

		<div class="info {% unless event.flyer %} no-flyer {% endunless %}">

			<div class="title">
				<h2> {{ event.title }} </h2>
			</div>

			{% if event.location %}
				<div class="location">
					<h3>Where:</h3>
					{{ event.location }}
				</div>
			{% endif %}

			{% if event.date %}
				<div class="date-and-time">
					<h3>When:</h3>
					{{ event.date | date: "%A, %b %d %Y"}} {{ event.time }}
				</div>
			{% endif %}

			<div class="description">{{ event.content }}</div>
		</div>
	</div>
{% endfor %}
</div>
<div id="show-old-events">show past events</div>

<script src="assets/js/events.js"></script>

{% if false %}

<div class="centered-section">
	<div class="olive-pattern-bg">
		<h2>Updates</h2>
	</div>
	<p>What's going on now, and how can you plug in to the various ongoing local efforts?</p>
	<h3>Latest Updates:</h3>
	<div id="latest-updates">
		{% for cat in site.categories %}
		{% if  cat[0] != "orgs" %}
			<div class="latest-post">
				<div class="org-and-title">
					<h3>{{ cat[0] | capitalize}}:</h3>
					<h4 class="cat-title">{{cat[1][0].title}}</h4>
				</div>
				<div class="cat-content">
					{{ cat[1][0].content }}
				</div>
			</div>
		{% endif %}
		{% endfor %}
	</div>

	<h3>All Updates:</h3>
	<div id="all-updates">
		{% for post in site.posts %}
			<ul>
				<li><span class="post-author-org">{{ post.org }}:</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
			</ul>
		{% endfor %}
	</div>
</div>
{% endif %}
