<p id="Social">
	Instagram: <a href="https://www.instagram.com/nolamusicians4palestine/" target="_blank">@NolaMusicians4Palestine</a>
</p>
<p id="email">
	Email: <a href="mailto:nolamusicians4palestine@gmail.com">nolamusicians4palestine@gmail.com</a>
</p>
<p id="subscribe">
	<a href="https://forms.gle/Yi3romgnP8adfTLx7" target="_blank">Click here</a> to join our mailing list.
</p>
<p id="join">
	<a href="https://forms.gle/y7WQPn8AiAS8csv7A" target="_blank">Join the Solidarity Network</a>
</p>
<p>
	<a href="https://forms.gle/Y1tC21w4BpvBovyT9" target="_blank">Help us with Krewe of Zeitoun</a>
</p>
<p>
	<a href="https://liberapay.com/NolaMusicians4Palestine/donate?amount=5&currency=USD&period=monthly" target="_blank">Donate to us</a>
</p>
