<!--
<div class="donate">
	<a href="https://www.gofundme.com/f/new-orleans-musicians-for-palestine-goes-to-honk-in-boston"><h2>Donate!</h1></a>
	<p>
		We are currently raising funds to attend <a href="https://honkfest.org/">HONK!</a>, an activist street band festival in Boston, MA.
		It's a perfect opportunity for us to connect with other street bands from around the US and spread our model for musicians strengthening their local movement for Palestinian liberation.
		The main costs will be the plane tickets for 13 musicians and their instruments. If you can help us cover those costs please contribute to our <a href="https://www.gofundme.com/f/new-orleans-musicians-for-palestine-goes-to-honk-in-boston">GoFundMe Campaign</a>
	</p>
</div>
<hr>
-->

<div class="sign-up">
	<h2>
		Are you a musician in New Orleans?
		<a href="http://tinyurl.com/nm4psolidarity" target="_blank">Join the Solidarity Network</a>
	</h2>
	<h2>
		Get involved with
		<a href="https://forms.gle/Y1tC21w4BpvBovyT9" target="_blank">Krewe of Zeitoun</a>
	</h2>
</div>
